<br>
<mat-card class="twilio-card">
  <mat-card-header> 
    <div mat-card-avatar class="example-header-image">
      <img class="small-logo" src="assets/img/Whatsapp_Logo.png">
    </div>
    <mat-card-title>Whatsapp Authentication</mat-card-title>  
  </mat-card-header>
  <mat-divider></mat-divider>
  <mat-card-content>
    <div class="details-section">      
      <mat-card-actions>
        <input class="input-text" type="text"  placeholder="enter phone number"><!--enter into database-->
        <a href="https://wa.me/14155238886?text=join%20lemon-mule"><button mat-raised-button color="primary">Verify</button></a>       
      </mat-card-actions>      
    </div>
  </mat-card-content>
  <div class="details-section"></div>
</mat-card>
<br>

